@model PruebaDatos.Models.Usuarios

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver a la lista </a>
</div>
